@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
:root {
    /*     COLOURS     */
    /*     Primary     */
    --color-primary-light: hsl(185, 75%, 39%);
    --color-primary-dark: hsl(227, 10%, 46%);
    --color-primary-Vdark: hsl(229, 23%, 23%);
    /*     Neutral     */
    --color-neutral-main: hsl(0, 0%, 59%);
    /*     FONTS     */
    --ff-primary: 'Kumbh Sans', sans-serif;
    /* Weights: 700, 700*/
}

html {
    font-size: 62.5%;
    /* 1 rem = 10px */
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color: var( --color-neutral-main);
}

body {
    background: url(./images/bg-pattern-top.svg), var(--color-primary-light);
}

.container {
    padding: 5rem;
    text-align: center;
    align-items: center;
}

.card {
    border-radius: 15px;
    background-color: white;
    width: 35%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image-container {
    padding: 5rem 0 0 0;
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    border-radius: 15px;
}

.card-image {
    border-radius: 50%;
    border: .4em solid white;
}

.txt-bold {
    font-weight: 700;
    color: var(--color-primary-Vdark);
}

.top {
    padding: 1rem;
}

.bottom {
    display: flex;
}

.bottom p {
    padding: 2rem;
}

/* Inset, by Dan Eden */

hr {
    width: 100%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 375px) {
    .container {
        padding: 3rem 1rem;
    }
    .card {
        width: 100%;
    }
    .bottom p {
        padding: 1rem;
    }
}

/* GIVEN STYLES */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px