:root{

/*     COLOURS     */
/*     Primary     */
--color-primary-Vdark: hsl(233, 47%, 7%); /* Main bg */ 
--color-primary-dark: hsl(244, 38%, 16%); /* Card bg */
--color-primary-soft: hsl(277, 64%, 61%); /* Accent */

/*     Neutral     */
--color-neutral-main: hsl(0, 0%, 100%); /* main heading, stats */
--color-neutral-mid: hsla(0, 0%, 100%, 0.75); /* main paragraph */
--color-neutral-dark: hsla(0, 0%, 100%, 0.6); /* stat headings */

--ff-main: 'Inter', sans-serif;
/* Weights: 400, 700 */

--ff-secondary: 'Lexend Deca', sans-serif;
/* Weights: 400 */

}

html{
  font-size: 62.5%; /* 1 rem = 10px */

}

body{
    background-color: var(--color-primary-Vdark);
    padding: 20rem;
}

.container{
    background-color:var(--color-primary-dark) ;
    border-radius: 10px;

    display: flex;

}

.left{
    flex: 50%;
    padding: 5rem;
}

h1{
    color: var(--color-neutral-main);
    font-size: 3rem;
    font-family: var(--ff-main);
    font-weight: 700;
    padding-bottom: .5rem;
}

.highlight{
    color: var(--color-primary-soft);
}

p{
    color: var(--color-neutral-mid);
    Font-size: 1.5rem;
    font-family: var(--ff-secondary);
    font-weight: 400;
}

.stat-container{
    padding-top: 5rem;
    width: 100%;
}
.stat-container p{
    float:left; 
    width:10rem;
    padding-right: 5rem;
}
.stat{
    font-size: 3rem;
    font-weight: 700;
}



.right {
    flex: 50%;
    overflow: hidden;
    background-image: 
    linear-gradient(
        var(--color-primary-soft),
        var(--color-primary-soft)
        ),
    url(./images/image-header-desktop.jpg);
    background-blend-mode: overlay;
    background-size: cover;    
}












/*     GIVEN STYLES     */
.attribution {
    color: var(--color-neutral-main);

    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* 
Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px